h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30;
    color: maroon;
    text-align: center;
}

body {
background-color: black;
color: blanchedalmond;
font-family: 'Courier New', Courier, monospace;
}

nav{
    text-align: center;
    word-spacing: 20px;
}

h2{
    font-size: 24;
}

#projectSummary1{
    width: 580px;
    height: 387px;
    margin: 50px;
    text-indent: 5%;
    background: #ffffff;
    color: black;
    font-size: 20;
    background-image:url(https://samueljoy.zenfolio.com/img/s/v-10/p3879281972-3.jpg);
}

#projectSummary2{
    width: 580px;
    height: 387px;
    margin: 50px;
    text-indent: 5%;
    background: #ffffff;
    color: black;
    font-size: 20;
    background-image:url(https://samueljoy.zenfolio.com/img/s/v-10/p3557738626-3.jpg);
}