*{
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 30;
}

h2{
    font-size: 24;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}

img{
    max-width: 100%;
    max-height: 100%;
}

 .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .vertColumn {
    float: left;
    width: 25%;
    padding: 5px;
    margin-top: -24px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .textBlock{
    position: absolute;
    background-color: #ffffff;
    width: auto;
    color: black;
    left:20px;
    bottom:20px;
}

.textWithImage{
    position:relative;
}

.headerName{
    padding-left: 10%;
    text-align: center;
}

.navBar{
    word-spacing: 100px;
    text-align: center;
    margin-top: 45px;
}

#aboutSelfPortrait{
    width: 1100px;
    height: 733px;
    margin: 50px;
    text-indent: 40%;
    background: #ffffff;
    color: black;
    font-size: 20;
    background-image:url(https://samueljoy.zenfolio.com/img/s/v-10/p3879958818-5.jpg);
}

.leadingImage{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
}
#textBlockCenter{
    position: absolute;
    background-color: #ffffff;
    width: auto;
    color: black;
    left:12%;
    bottom:20px;
}